{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3 text-primary">➕ Thêm sản phẩm mới</h2>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.sku.label_tag }} 
            {{ form.sku }}
        </div>
        <div class="mb-3">
            {{ form.ten_hang.label_tag }}
            {{ form.ten_hang }}
        </div>
        <div class="mb-3">
            {{ form.ten_goi_chung.label_tag }}
            {{ form.ten_goi_chung }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="bi bi-save"></i> Thêm sản phẩm
        </button>
        <a href="{% url 'product_dmhh' %}" class="btn btn-outline-secondary">Quay lại</a>
    </form>
</div>



{% endblock %}
